<% if session[:user_id] %>
  <% redirect 'users/feeds'%>
<% else %>
<div class="homepage">
  <h1 id="intro">Welcome to the Environmentalist Blog</h1>
  <a href="users/login">Login</a>
  <a href="users/signup">Sign up</a>

</div>
<% end %>
