<% if session[:user_id] %>
  <% redirect 'users/feeds'%>
<% else %>
<div class="homepage">
  <h1 id="intro">Welcome to the E-rumblr</h1>
  <p>
    Worldwide awareness and action for the protection of our environment should start. A platform for Environmentalist to make their voice heard.
  </p>
  <a href="users/login">Login</a>
  <a href="users/signup">Sign up</a>

</div>
<% end %>
