body {
  top: 0;
  .nav-bg{
    background-color: rgba(52, 58, 64, 0.91)!important;
  }
  .small-grid {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 10%;
    div{
      display: inline;
      margin-bottom: 2rem;
    }
  }
 .homepage {
   margin-left: 10%;
   width:80%;
   margin-top: 5vh;
   justify-content: center;
   text-align: center;
 }
 .signup{
   margin-top: 5vh;
   padding: 2rem;
   width: 60%;
   margin-bottom:2rem;
   border-radius:.3rem;
   background-color:rgba(108, 117, 125, 0.5)!important;
   h1{
     text-align: center;
   }
 }
 .title {
   font-size: 2rem;
   font-weight: 400;
 }
 .content {
   font-size: 1.3rem;
 }
 .date {
   font-size: .9rem;
   opacity: .5;
   margin-top: 0;
   margin-bottom: .7rem;
 }
 .posts {
   padding-top:1rem !important;
   margin-bottom:.1rem !important;
   }
 .post-image{
   width: 100%;
   height: 50vh;
   border-radius:.3rem;
 }
 .comment{
   padding-left: 2%;
   padding-bottom: .1rem;
   font-size: .9rem;
   opacity: .8;
 }
 .login {
   margin-top: 5vh;
   padding: 2rem;
   width: 60%;
   margin-bottom:2rem;
   border-radius:.3rem;
   background-color:rgba(108, 117, 125, 0.5)!important;
   h1{
        text-align: center;
      }
 }
}
