<% @posts.each do |t| %>
<div class="jumbotron">
  <h1 class="display-4"><%= t['title'] %></h1>
  <p class="lead"><%= t['content']%></p>
  <% if t['image_url'] != '' %>
  <img src="<%=t['image_url']%>">
  <%end%>
  <hr class="my-4">
  <p class="lead"><%= t['created_at']%></p>
</div>
<%end%>
<!-- t['user_id'] -->
