<div class="login container">
  <form action="/users/resetPassword" method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
    </div>
    <% if defined?(@PasswordResetResponse)  %>
    <small> The Email you used is not in our database. Please make sure you are entering the new password.</small>
    <% end %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
