<div class="thanks">
  <h1>Thank you for signing up</h1>
  <p>Please try to log into your account</p>
  <p>Start your first post. Let the world hear from you.</p>
  <button class="btn btn-primary">
    <a href="/users/login">Log in</a>
  </button>
</div>
